p {
    color: rgb(254, 127, 156);
    font-family: cursive;
    font-weight: bolder;
}

h1 {
    color: rgb(223, 82, 133);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

body {
    background-color: rgb(245, 195, 194);
    text-align: center;
}